<% if message.user.photo.attached? %>
  <%= image_tag message.user.photo, class:"avatar-review" %>
<% else %>
  <%= image_tag "meeple.png", class:"avatar-global" %>
<% end %>
<p>
  <% if !message.chatroom.personal %>
    <span class="sender"><%= message.user.nickname %></span>
  <% end %>
  <%= message.content %>
</p>
