$wrapInitialY: -530px;
$wrapFinalY: -5px;
$btnInitialY: -15px;
$btnFinalY: 45px;
$initialOpacity: 30%;
$cardsFinalY: -70px;
$animDuration: 0.5s;

@keyframes slideIn {
  from { transform: translateY($wrapInitialY) }
  to { transform: translateY($wrapFinalY) }
}
@keyframes slideOut {
  from { transform: translateY($wrapFinalY) }
  to { transform: translateY($wrapInitialY) }
}
@keyframes slideDown {
  from { transform: translateY($btnInitialY) }
  to { transform: translateY($btnFinalY) }
}
@keyframes slideUp {
  from { transform: translateY($btnFinalY) }
  to { transform: translateY($btnInitialY) }
}
@keyframes fadeIn {
  from { opacity: $initialOpacity }
  to { opacity: 100% }
}
@keyframes fadeOut {
  from { opacity: 100% }
  to { opacity: $initialOpacity }
}
@keyframes disapear {
  from { opacity: 100% }
  to { opacity: 0% }
}
@keyframes apear {
  from { opacity: 0% }
  to { opacity: 100% }
}
@keyframes cardsUp {
  from {
    transform: translateY(0px);
    opacity: 100%;
  }
  to {
    transform: translateY($cardsFinalY);
    opacity: $initialOpacity;
  }
}
@keyframes cardsDown {
  from {
    transform: translateY($cardsFinalY);
    opacity: $initialOpacity;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.slideIn { animation: slideIn $animDuration forwards; }
.slideOut { animation: slideOut $animDuration forwards; }
.slideDown { animation: slideDown 0.3s forwards; }
.slideUp { animation: slideUp 0.3s forwards; }
.fadeIn { animation: fadeIn $animDuration forwards; }
.fadeOut { animation: fadeOut $animDuration forwards; }
.disapear { animation: disapear $animDuration forwards; }
.apear { animation: apear $animDuration forwards; }
.cardsUp { animation: cardsUp $animDuration forwards; }
.cardsDown { animation: cardsDown $animDuration forwards; }


.low-opacity {
  opacity: $initialOpacity;
}

#event-index-wrap {
  text-align: center;
  width: 400px;
  transform: translateY($wrapInitialY);

  #map {
    opacity: $initialOpacity;
  }

  .show-map-btn {
    margin: 0 auto 12px auto;
    z-index: 1000;
    position: relative;

    transform: translateY($btnInitialY);
  }

  .event-searchbar {
    padding: 0 30px;
    margin-bottom: 35px;

    input.event-search {
      border-radius: 40px;
      background-color: white;
      padding: 12px 20px;
      margin-right: 10px;
    }
  }
}

.card-image {
  max-height: 280px;
  object-fit: cover;
  object-position: top;
}
