/*
#event-index-wrap {
  transform: translateY(-300px);
  animation: 1s ease-in;
  #map {
    opacity: 40%;
  }

  .show-map {
    text-decoration: none;
    transition: all 1s;
    &:hover {
      transform: translateY(200px);
      color: white;
    }
  }
}

.slideIn {
  transform: translateY(0);
}
*/
