$wrapInitialY: -350px;
$wrapFinalY: 100px;
$btnInitialY: -15px;
$btnFinalY: 45px;
$initialOpacity: 30%;
$animDuration: 0.5s;

@keyframes slideIn {
  from { transform: translateY($wrapInitialY) }
  to { transform: translateY($wrapFinalY) }
}
@keyframes slideOut {
  from { transform: translateY($wrapFinalY) }
  to { transform: translateY($wrapInitialY) }
}
@keyframes slideDown {
  from { transform: translateY($btnInitialY) }
  to { transform: translateY($btnFinalY) }
}
@keyframes slideUp {
  from { transform: translateY($btnFinalY) }
  to { transform: translateY($btnInitialY) }
}
@keyframes fadeIn {
  from { opacity: $initialOpacity }
  to { opacity: 100% }
}
@keyframes fadeOut {
  from { opacity: 100% }
  to { opacity: $initialOpacity }
}

.slideIn { animation: slideIn $animDuration forwards; }
.slideOut { animation: slideOut $animDuration forwards; }
.slideDown { animation: slideDown 0.3s forwards; }
.slideUp { animation: slideUp 0.3s forwards; }
.fadeIn { animation: fadeIn $animDuration forwards; }
.fadeOut { animation: fadeOut $animDuration forwards; }

.low-opacity {
  opacity: $initialOpacity;
}

#event-index-wrap {
  text-align: center;
  width: 400px;
  transform: translateY($wrapInitialY);

  #map {
    opacity: $initialOpacity;
  }

  .show-map-btn {
    margin: 0 auto 30px auto;
    z-index: 1000;
    position: relative;

    transform: translateY($btnInitialY);
  }

  .scrolling-events {
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(25px);
  }

  .arrow {
    position: absolute;
    bottom: -260px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 70px;
    height: 70px;
    background-color: rgba($color: white, $alpha: 0.6);
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
  }

  .arrow.right {
    right: 0;
  }
  .arrow.left {
    left: 0;
  }
}
