.game-index {
  h1 {
    margin: 30px 30px 20px 30px;
    text-align: center;
    font-weight: bold;
  }
  form {
    text-align: center;
    padding: 0 30px;
  }
  input {
    border-radius: 47px;
    border: 0;
    padding: 12px 20px;
    width: 100%;
  }
}
