<h1>New booking</h1>

<%= simple_form_for [@event, @booking] do |f| %>
  <% booking.event.decription %>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "return to the home-pages", root_path %>
