<footer>
  <div class="footer-container">
    <div class="footer-buttons">
      <%= link_to "New Event", new_event_path, class: "footer-button" %>
      <%= link_to "Index Event", events_path, class: "footer-button" %>
      <%= link_to "Bookmarks", bookings_path, class: "footer-button" %>
    </div>
  </div>
</footer>
