<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "event", events_path(@event), class: "btn primary"%>
<%= link_to "booking", bookings_path(@event), class: "btn primary"%>
