.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  box-shadow: none !important;
  background-color: transparent;
}

#map .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  border-radius: 50px;
  margin: 15px 20px !important;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
