.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  box-shadow: none !important;
  background-color: transparent;
}

#map .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  border-radius: 50px;
  margin: 25px 26px !important;
}
