.avatar-global {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}
.avatar-profile {
  border: 5px solid $rollblueL;
  height: 10rem;
  width: 10rem;
  background-color: $rollblueL;
}
