.books-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.bookmarks-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 40%;
  box-sizing: border-box;
  gap: 20px;
  position: relative;
  top: 120px;
}

.bookings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 40%;
  box-sizing: border-box;
  gap: 20px;
  position: relative;
  top: -120px;
}

.bookings-container {
  justify-content: flex-end;
}

.bookmarks-card,
.bookings-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container {
  position: relative;
  width: 13vh;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-size: cover;
  background-position: center;
  border: none;
  margin-bottom: 20px;
}

.bookmark-image,
.booking-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-text {
  position: absolute;
  padding: 10px;
  text-align: center;
}

.image-text.pending {
  color: orange;
}

.image-text.accepted {
  color: green;
}

.image-text.declined {
  color: red;
}

.heart-card,
.joker-card,
.heart-back-card,
.joker-back-card {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4) !important;
  border-radius: 35px !important;
  transform: rotate(45deg) scale(0.16) !important;
  position: fixed !important;
}

.heart-card {
  top: -41vh !important;
  left: -64vw !important;
}

.joker-card {
  top: 21vh !important;
  left: -15vw !important;
}

.heart-back-card {
  box-shadow: -20px 20px 10px 10px rgba(0, 0, 0, 0.4) !important;
  transform: rotate(315deg) scale(0.16) !important;
  top: -33vh !important;
  left: -47vw !important;
}

.joker-back-card {
  box-shadow: 20px -20px 10px 10px rgba(0, 0, 0, 0.4) !important;
  transform: rotate(135deg) scale(0.16) !important;
  top: 12vh !important;
  left: -33vw !important;
}
