.event-containner {
  margin: 0 0 90px 0;
  display: flex;
  flex-direction: column;
}

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-profile{
  margin: 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.event-background-img {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("table-de-jeux");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
}
.event-title {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: floralwhite;
}

.event-date{
  margin: 15px;
  display:flex;
  justify-content: space-between;
  width: 300px;
}

.event-description{
  margin: 15px;
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
  width: 300px;
}

.event-slot{
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.event-list{
  background-color: #dcdcdc;
  border: 8px solid $rollblue;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 460px;
  width: 320px;
  margin: 0 10px;
}

.event-address{
  margin: 10px;
  width: 300px;
}

.event-card{
  margin: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.event-datecard{
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.event-slotcard{
  margin: 10px;
  border-radius: 20px;
  width: 300px;
  display:flex;
  justify-content: end;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}

.backcard{
  margin: 5px;
  background-color: white;
  border-radius: 20px;
}

.event-icone{

  border-radius: 20px;
  display: flex;
  align-items: center;
}

.event-cardslot{
  width: 300px;
  display:flex;
  flex-direction: column;
  justify-content:center;

}

.validatecard{
  margin-top: 10px;
  padding: 2px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.event-slotshow{
  margin: 5px;
  padding: 5px 5px 5px 0px;
  height: 2.5rem;
  width: 7rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.event-dateshow{
  background-color: white;
  height: 2rem;
  width: 9rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 13px;
}

.event-cardslotuser{
  width: 300px;
  display:flex;
  justify-content:space-between;
  align-items: center;

}

.cardbutton{
  margin: 5px;
  display:inline-flex;
  justify-content:space-between;
  align-items: center;
}

.bookingstatus{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.create-booking {
  margin-top: -15px;
}

.validation-pending{
  width: 120px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items:last baseline;
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.validation{
  margin: 10px;
  padding: 2px 12px;
  display: flex;
  justify-content: center;
  align-items:last baseline;
  border: 2px solid $rollblueL;
  border-radius: 10px;
  color:$rollblueL;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.refused{
  opacity: 0.4;
}
.accepted{
  color: green;
  border: 2px solid green;
}
.declined{
  color: red;
  border: 2px solid red;
}

.btn-decline{
  margin: 10px;
  background-color: $rollblueL;
}

.btn-cassé-edit {
  margin-left: 85px;
}

.event-avatar{
  width: 50px;
  height: 50px;
  border: 2px solid #064663;
}

.event-avatar{
  display:flex;
  justify-content:space-between;
  align-items:center ;
}

.event-show{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-firstname{
  margin: 0 0 -5px 5px;
  font-size: larger;
  font-weight: bold;
}

.event-nickname {
  margin-left: 5px;
}
.event-name {
  margin-left: 7px;
}
.event-games{
  margin: 0 0 10px 0;
  display: flex;
  justify-content:center;
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  }
}

.iconshow{
  padding-right: 10px;
  font-size: 33px;
  display: flex;
  align-items:center;
}

.iconplay{
  font-size: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilevalidate{
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-slotshowuser{
  margin: -10px;
  margin-right: 5px;
  padding: 5px 5px 5px 0px;
  width: 150px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.profile-event{
  display: flex;
  justify-content: center;
  align-items: center;
}
