$index-cards-anim-duration: 0.4s;

$mainCardHeight: 50vh;
$mainCardTransform: rotate(0) translate(-61%, 0);
$rightCardHeight: 47vh;
$rightCardTransform: translate(30%, 17px) rotate(3deg);
$leftCardTransform: translate(-70%, 30px) rotate(-5deg);
$leftCardHeight: 43vh;
$leftOutCardHeight: 40vh;
$leftOutCardTransform: translate(-60%, 26px) rotate(-8deg);
$rightOutCardTarnsform: translate(70%, 26px) rotate(3deg);

@keyframes switch-to-4 {
  to {
    height: $leftCardHeight;
    transform: $rightOutCardTarnsform;
    filter: brightness(0.65);
    opacity: 0;
  }
}

@keyframes switch-to-3 {
  10% {
    opacity: 1;
  }
  to {
    height: $rightCardHeight;
    transform: $rightCardTransform;
    filter: brightness(0.65);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes switch-to-2 {
  to {
    transform: $mainCardTransform;
    filter: brightness(1);
    height: $mainCardHeight;
  }
}

@keyframes switch-to-1 {
  to {
    height: $leftCardHeight;
    transform: $leftCardTransform;
    transform-origin: bottom left;
    filter: brightness(0.65);
    opacity: 1;
  }
}

@keyframes switch-to-0 {
  to {
    transform: $leftOutCardTransform;
    height: $leftOutCardHeight;
    transform-origin: center;
    filter: brightness(0.65);
    opacity: 0;
  }
}

.switch-to-4{ animation: switch-to-4 $index-cards-anim-duration forwards; }
.switch-to-3 { animation: switch-to-3 $index-cards-anim-duration forwards; }
.switch-to-2 { animation: switch-to-2 $index-cards-anim-duration forwards; }
.switch-to-1 { animation: switch-to-1 $index-cards-anim-duration forwards; }
.switch-to-0 { animation: switch-to-0 $index-cards-anim-duration forwards; }

.index-card {
  position: absolute;
  box-shadow: -7px 7px 20px 0px rgba(0,0,0,0.2);
  top: 0;
  left: 50%;
}

// left-out card
.card0 {
  transform: $leftOutCardTransform;
  height: $leftOutCardHeight;
  transform-origin: center;
  filter: brightness(0.65);
  opacity: 0;
  z-index: 0;
}
// left card
.card1 {
  height: $leftCardHeight;
  transform: $leftCardTransform;
  transform-origin: bottom left;
  filter: brightness(0.65);
  opacity: 1;
  z-index: 1;
}
// main card
.card2 {
  height: $mainCardHeight;
  transform: $mainCardTransform;
  transform-origin: bottom left;
  filter: brightness(1);
  z-index: 2;
}
// right card
.card3 {
  height: $rightCardHeight;
  transform: $rightCardTransform;
  filter: brightness(0.65);
  transform-origin: center;
  opacity: 1;
  z-index: 3;
}
// right-out card
.card4 {
  height: $leftCardHeight;
  transform: $rightOutCardTarnsform;
  filter: brightness(0.65);
  opacity: 0;
  z-index: 4;
}

.arrow {
  position: absolute;
  transform: translateY(23vh);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 5;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.arrow.right {
  right: 19px;
}
.arrow.left {
  left: 8px;
}

.event-cards {
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(25px);
}
