footer {
  position: absolute;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: $rollblue;
  z-index: 10;
}
.footer-container {
  height: 100%;
}
.footer-buttons {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  .footer-btn{
    position: relative;
    bottom: 20px;
  }
}
