footer {
  position: fixed;
  bottom: 0;
  height: 63px;
  width: 100%;
  background-color: $rollblue;
  z-index: 10;
}
.footer-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.footer-buttons {
  display: flex;
}
.footer-button {
  margin-right: 10px;
  text-decoration: none;
  padding: 5px 10px;
  color: $rollmustard;
}
