.game-show {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  /* Add other desired styles */
}

.deck-button2 {
  background-color: $red;
  color: #ffffff;
  z-index: 99999;
  bottom: -5px;
  position: relative;
  border-radius: 7px 7px 7px 7px;
  border: 2px outset $yellow;
  box-shadow: inset -3px -3px 10px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}
