.garrow {
  position: absolute;
  bottom: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 5;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.garrow.right {
  right: 11px;
}

.garrow.left {
  left: 8px;
}

.game-cards {
  margin-top: 41px;
  transform: translateX(9%);
}

.game-image {
  width: 100%;
  height: 100%;
  border-radius: 7px 7px 7px 7px;
  object-fit: cover;
  object-position: top;
  margin-top: 0;
}

.game-title {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -1px;
  width: 100%;
  padding: 10px;
  background-color: $rollblueL;
  color: white;
  border-radius: 7px 7px 0 0;
}

.game-title h3 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.game-info {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -1px;
  width: 100%;
  padding: 10px;
  background-color: $rollblueL;
  color: white;
  border-radius: 0 0 7px 7px;
}

.game-info p {
  margin: 0;
  font-size: 30px;
}

.game-info p:first-child {
  margin-right: 10px;
}

.game-info p:last-child {
  margin-left: 37px;
}

.deck-button {
  background-color: #FD1015;
  color: #ffffff;
  z-index: 9;
  bottom: 55px;
  position: fixed;
  border-radius: 7px;
  border: 2px outset #FFC65A;
  box-shadow: inset -3px -3px 10px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  left: 75px;
  height: 40px;
}

.search-button {
  background-color: $green;
  color: #ffffff;
  z-index: 9;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 7px 7px 7px 7px;
  border: 2px outset $yellow;
  box-shadow: inset -3px -3px 10px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}
