nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $rollblue;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
}
.navbar-buttons {
  display: flex;
  align-items: center;
}
.navbar-button {
  margin-right: 10px;
  padding: 5px 10px;
  #login {
    text-decoration: none;
    color: $rollmustard;
  }
  #brand {
    text-decoration: none;
    color: $rollmustard;
  }
  .fa-comments {
    text-decoration: none;
    color: $rollmustard;

  }
}
