nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: $rollblue;
  z-index: 10;
}
.navbar-container {
  height: 100%;
}
.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.navbar-button {
  margin-right: 10px;
  padding: 5px 10px;
  #login {
    text-decoration: none;
    color: $rollmustard;
  }
  #brand {
    font-family: 'Courgette', cursive;
    font-size: 1.8rem;
    text-decoration: none;
    color: $rollmustard;
  }
  .fa-comments {
    text-decoration: none;
    color: $rollmustard;
  }
}

.navbar-comments {
  margin-left: auto;
}
