.profile-display {
  background: white;
  padding: 10px 20px;
  margin: 50px auto;
  border-radius: 3px;
  border: 3px solid black;
  }

.profile-btn-container {
  border: 3px solid black;
  margin: 5px auto;
}

.profile-details {
  border: 3px solid black;
  margin: 5px auto;
}

.profile-highlights {
  border: 3px solid black;
  margin: 5px auto;
}

.profile-stats {
  border: 3px solid black;
  margin: 5px auto;
}

.btn-chat {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.btn-profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: red;
}
