.profile-display {
  padding: 10px 20px;
  border-radius: 3px;
  }

.profile-btn-container {
  margin: 5px auto;
  display: flex;
  justify-content: flex-end;
}

.profile-headers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
}

.profile-details {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  .user-first_name {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0;
  }
  .user-nickname {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
  }
  .reviews-details {
    display: flex;
    justify-content: center;
    .user-reviews-rating {
      font-size: 1rem;
      font-weight: 600;
    }
    .user-reviews-count {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

.profile-highlights {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  .user-profile-description {
    background-color: white;
    border-radius: 10px;
    width: 20rem;
    height: 6rem;
    font-size: 1.25rem;
    font-weight: 500;
    z-index : -1;
    bottom: -80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .fa-quote-left {
      padding: 0 1rem 2rem 0.75rem;
    }
  }
}

.profile-stats {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  .fa-angle-down {
    padding: 20px auto;
  }
}

.profile-chat-button {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  .btn-chat {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}

.btn-profile {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto 5px;
  background-color: white;
}

.edit-profile-form {
background-color: white;
padding: 25px 25px 13px 25px;
border-radius: 10px;
margin: 20px;
label {
  font-weight: bold;
  margin: 0 0 5px 15px;
}
input {
  background-color: #efefef;
  border: 0;
  border-radius: 20px;
}
}

.edit-profile-actions {
  text-align: center;
}

.profile-events-cards{
  display: flex;
}

.profile-event-games{
  margin: 10px;
}
