  <div class="reviewcard">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <div class="reviewrating">
          <div>
            <%= review.user.nickname %>
          </div>
          <div>
            <%= review.rating %>
          </div>
        </div>
        <div>
          <%= review.comment %>
        </div>
    <% end %>
    <% else %>
      <p> You haven't any review yet </p>
    <% end %>
  </div>
</div>
